<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{"MY_PROFILE"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="logout()">
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
