<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{"MY_PROFILE"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="save()">{{"SAVE"|translate}}
        <ion-icon slot="end" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">{{"EMAIL"|translate}}</ion-label>
      <ion-input [(ngModel)]="customer.email" readonly="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{"ARABIC_FULL_NAME"|translate}}</ion-label>
      <ion-input [(ngModel)]="customer.fullNameAr"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{"ENGLISH_FULL_NAME"|translate}}</ion-label>
      <ion-input [(ngModel)]="customer.fullNameEn"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{"PHONE"|translate}}</ion-label>
      <ion-input [(ngModel)]="customer.phoneNumber"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
