<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="end">{{"SETP_2_OF_3"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back()">
        {{"BACK"|translate}}
        <ion-icon name="arrow-forward-circle" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()" color="danger">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">{{"MOVABLE_DESC"|translate}}</ion-label>
                <ion-textarea formControlName="customerNotes"></ion-textarea>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-title>{{"SOURCE_LOCATION_DATA"|translate}}</ion-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">{{"PLACE_TYPE"|translate}}</ion-label>
                <ion-select formControlName="sourceLocationType">
                  <ion-select-option *ngFor="let loc of loactionTypes" [value]="loc.id">{{loc.descAr}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">{{"FLOOR_NUMBER"|translate}}</ion-label>
                <ion-input formControlName="sourceFloorNum" type="number"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label *ngIf="sourceElvFlagBoolean">{{"THERE_IS_ELV"|translate}}</ion-label>
                <ion-label *ngIf="!sourceElvFlagBoolean">{{"THERE_IS_NO_ELV"|translate}}</ion-label>
                <ion-toggle formControlName="sourceElvFlagBoolean" (ionChange)="sourceElvFlagChange()"></ion-toggle>
              </ion-item>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-title>{{"DESTINATION_LOCATION_DATA"|translate}}</ion-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">{{"PLACE_TYPE"|translate}}</ion-label>
                <ion-select formControlName="destLocationType">
                  <ion-select-option *ngFor="let loc of loactionTypes" [value]="loc.id">{{loc.descAr}}
                  </ion-select-option>

                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">{{"FLOOR_NUMBER"|translate}}</ion-label>
                <ion-input formControlName="destFloorNum" type="number"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label *ngIf="destElvFlagBoolean">{{"THERE_IS_ELV"|translate}}</ion-label>
                <ion-label *ngIf="!destElvFlagBoolean">{{"THERE_IS_NO_ELV"|translate}}</ion-label>
                <ion-toggle [value]="destElvFlagBoolean" (ionChange)="destElvFlagChange()"></ion-toggle>
              </ion-item>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-card>
    <ion-card-header>
      <ion-title>{{"MOVABLES_IMAGES"|translate}}</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
            <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button fill="solid" (click)="nextStep()" expand="block">
        {{"CONTINUE"|translate}}
        <ion-icon name="arrow-back-circle" slot="end"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-footer>
