<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
      <ion-title>{{"LOCATION"|translate}}</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">

        <ion-card>
          <ion-card-header>
            <app-location-picker [showPreview]="true" [buttonTitle]="'MOVE_FROM'"
              (locationPick)="onSourceLocationPicked($event)"></app-location-picker>
            <ion-text color="secondary" class="ion-text-start">
              <p> {{payLoad.sourceFormattedAddress}}</p>
            </ion-text>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-label class="strong_text">{{"SOURCE_LOCATION"|translate}}</ion-label>
          </ion-card-content>
        </ion-card>


      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <app-location-picker [showPreview]="true" [buttonTitle]="'MOVE_TO'"
            (locationPick)="onDestinationLocationPicked($event)"></app-location-picker>
          <ion-text color="secondary" class="ion-text-start">
            <p>{{payLoad.destFormatedAddress}}</p>
          </ion-text>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-label class="strong_text">{{"DESTINATION_LOCATION"|translate}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  (click)="cancel()" fill="solid">
        {{"BACK"|translate}}
        <ion-icon name="arrow-forward-circle" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button   (click)="nextStep()"  fill="solid">
        {{"NEXT"|translate}}
        <ion-icon name="arrow-back-circle" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
