<ion-header>
  <ion-toolbar color="light">
      <ion-title>{{"ESTEMATED_COST"|translate}}</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
  <div class="cost ion-text-center">
    <h1>500 SR</h1>
  </div>
<ion-grid>
  <ion-row>
    <ion-col >
      <ion-button color="primary" fill="solid" expand="block" (click)="execute()">{{"EXECUTE"|translate}}</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="secondary" fill="solid" expand="block" (click)="cancel()">{{"CANCEL"|translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
     <ion-buttons slot="start">
    <ion-button color="primary" (click)="back()" fill="solid">
      {{"BACK"|translate}}
      <ion-icon name="arrow-forward-circle" slot="start"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>

</ion-footer>
