.cost{
  height: 150px;
  width: 150px;
  vertical-align: middle;
  line-height: 150px;
  border-radius: 320px;
  padding: 35px 0;
  margin: 30px auto;
  background-position: center;
  background-size: contain;
  background-color: var(--ion-color-tertiary)
}
