<ion-header>
  <ion-toolbar color="primary">
      <ion-title slot="end">{{"SETP_3_OF_3"|translate}}</ion-title>
      <ion-buttons slot="start">
        <ion-button color="primary" (click)="back()" fill="clear">
          {{"BACK"|translate}}
          <ion-icon name="arrow-forward-circle" slot="start"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">{{"VCL_SIZE"|translate}}</ion-label>
        <ionic-selectable [(ngModel)]="orderHeader.vehicleSize"
         name="vehicleSize" [items]="vclSizeList"
          [canSearch]="true" itemTextField="descAr" itemValueField="id">
        </ionic-selectable>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="secondary" fill="solid" expand="block" (click)="cancel()">{{"CANCEL"|translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" fill="solid" expand="block" (click)="execute()">{{"SEND_REQUEST"|translate}}</ion-button>
  </ion-toolbar>

</ion-footer>
