<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" fill="solid" (click)="beginOrderAction()" color="danger">{{"BEGIN_ORDER"|translate}}</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="primary"  (click)="logout()" >{{"LOG_OUT"|translate}}
        <ion-icon  name="log-out-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content>
  <app-map-modal *ngIf="currentLocation.lat && currentLocation.lng" [selectable]="false" [title]='' [closeButtonText]=''
    [center]="currentLocation" [showToolbar]="false"></app-map-modal>
</ion-content>
