<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon name="person-outline" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">{{"HOME"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="highlightSlideOpts">
          <ion-slide *ngFor="let h of middle">
            <img [src]="h.img">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-title>{{"SPECIFY_LOCATION"|translate}}</ion-card-title>
          <ion-card-header>
            <app-location-picker [showPreview]="true" [buttonTitle]="'SELECT_DROP_OFF'"
              (locationPick)="onDestinationLocationPicked($event)"></app-location-picker>
            <ion-text color="secondary" class="ion-text-start">
              <p *ngIf="destFormattedAddress"> {{destFormattedAddress?destFormattedAddress:''}}</p>
            </ion-text>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" fill="clear" (click)="nextPage()" color="light">{{"START"|translate}}</ion-button>
  </ion-toolbar>
</ion-footer>
