<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon name="person-outline" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"SPECIFY_LOCATION"|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="light" shape="round">
        {{"NEXT"|translate}}
        <ion-icon slot="icon-only" name="fastforward" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <app-order-location *ngIf="requestModel" [payLoad]="requestModel"></app-order-location>


</ion-content>
