<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="primary">{{"SELECT_VCL_TYPE"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let vcl of vclList" (click)="setVclSizeType(vcl)">
      <ion-label>{{vcl.descAr}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
