<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="back()"> {{"BACK"|translate}}
        <ion-icon name="arrow-forward-circle" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-top ion-margin-bottom"  >
         <ion-title>{{"SIGN_UP"|translate}}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  class="ion-margin-bottom">
        <ion-button expand="full" fill="outline" color="primary" shape="round" strong="true" id="fb" (click)="facebookSignUp()"> {{"SIGN_UP_WITH_FB"|translate}}
          <ion-icon name="logo-facebook" slot="end" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin-bottom ion-margin-top">
        <ion-title> {{"OR"|translate}}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="ion-margin-top" >
        <div  class="div1">
          <ion-input placeholder="Enter your email address" [(ngModel)]="email"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         <ion-button
         (click)="signUpWithEmail()"
          expand="full" fill="outline" color="dark" shape="round" strong="true" id="emailbtn"> {{"SIGN_UP_WITH_EMAIL"|translate}}
        <ion-icon name="mail-outline" slot="end"></ion-icon>
      </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
