<ion-header class="ion-no-border">
  <ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon name="arrow-forward" slot="start" color="primary"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="/assets/icon/Pipeline maintenance-bro.svg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>Suggestions --under construction</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-content>
