<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Pick Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-grid id="bg">
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>


      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <div id="menu_button"  class="ion-text-center">
          <ion-button fill="outline" [routerLink]="'/tabs'" expand="block">{{"VISITOR"|translate}}</ion-button>
          <ion-button fill="outline" [routerLink]="'/login'" expand="block">{{"LOG_IN"|translate}}</ion-button>
          <ion-button fill="outline" [routerLink]="'/signup'" expand="block">{{"CREATE_ACCOUNT"|translate}}</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
