<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar >
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar lines="none">
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list   >
      <ion-item lines="none" button color="primary" class="ion-text-center" id="menu_item" [routerLink]="'/tabs'">
       <ion-label >Visitor</ion-label>
      </ion-item>
      <ion-item lines="none" button color="primary" class="ion-text-center" id="menu_item" >
        <ion-label >Log In</ion-label>
      </ion-item>
      <ion-item lines="none" button color="primary" class="ion-text-center" id="menu_item">
        <ion-label >Sign Up</ion-label>
      </ion-item>

    </ion-list>


  </div>
</ion-content>
