
#bg{

    background-position: top;
    height:70%;
    width: 100%;
    background-color: transparent;
    background-image: url('/assets/icon/home_bg.svg');
    background-repeat: no-repeat, no-repeat;
    opacity:1;
    transition: opacity 150ms ease-in;
    text-align: center;
    background-size: 100% 100%;


}
#menu_button{
  position: relative;

}
