<ion-content [fullscreen]="true" class="ion-text-center">
<div id="bg">

</div>
  <ion-grid class="ion-text-center" id="grid">
    <ion-row>
      <ion-col class="ion-margin-bottom ion-margin-top">
        <div id="menu_button" class="ion-text-center">
          <ion-button id="visitor" fill="outline" strong="true" shape="round"   [routerLink]="'/signup'" expand="block" color="light">
            {{"CREATE_ACCOUNT"|translate}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" [routerLink]="'/login'" color="light">
      {{"LOG_IN"|translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
